*.DS_Store
*.texpadtmp*
*.aux

*.aux

*.log

*.gz

*~$graphs.xlsx

*.texpadtmp*

*.log

*.aux

*.aux

*.aux

*.bbl

*.blg

*.log

*.gz

*.tmp

*.tmp
Disser/Documents/KFU/part2/~$отокол_принятия_к_защите_Тощев.docx
Disser/Documents/KFU/part2.delivery/~$исок_рассылки_Тощев.docx
**/*.out

**/*.toc

**/*.nav

**/*.snm