Dissertation/.texpadtmp/*
Synopsis/.texpadtmp/*
Synopsis/.texpadtmp/synopsis.aux

Synopsis/.texpadtmp/synopsis.log

*.aux

*.aux

*.log

*.gz

common/~$graphs.xlsx

Synopsis/.texpadtmp/synopsis.log

Synopsis/.texpadtmp/synopsis.synctex.gz

*.log

*.aux

*.aux

*.aux

*.bbl

*.blg

*.log

*.gz
